<body>
    <div class="container-fluid p-0" style="overflow: hidden">
      <img class="bg-main img-fluid" src="assets/imgs/Login1_bg.png" alt="" />
      <img class="bg-main2" src="assets/imgs/Login (2).png" alt="" />
      <div class="abs-3">
        <div class="row m-0 p-0">
          <div class="col m-0 p-0 d-flex justify-content-center">
            <div class="container">
              <router-outlet> </router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
