<body>
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col p-0">
        <img src="assets\image\Bg-first.svg" class="bg-first" />

        <div class="row">
          <div class="col">
            <img src="assets\icon\nav-b.svg" class="icon-nav z" />
          </div>

          <div
            class="col-xl-2 col-lg-4 col-md-5 col-6 mt-4 d-flex align-items-center justify-content-end me-3"
          >
            <div class="col d-flex align-items-center justify-content-end">
              <img
                class="circle-photo z"
                src="assets\image\profile.png"
                alt=""
              />
            </div>
            <div class="col ms-4 z">
              <label><b class="">farmer number1</b></label
              ><br />
              <label class="c-grey" for="">kao@gmail.com</label>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 d-flex justify-content-center z">
          <router-outlet> </router-outlet>
        </div>
      </div>
    </div>
  </div>
</body>
