<button (click)="logout()">logout</button>

<div class="row">
  <h2>Humidity: {{ humidityValue }}</h2>
  <h2>Temperature: {{ temperatureValue }}</h2>
  <h2>pH Value: {{ pHValue }}</h2>
  <h2>Fertilizers State: {{ fertilizersState ? "On" : "Off" }}</h2>
  <h2>Water State: {{ waterState ? "On" : "Off" }}</h2>

  <h1>relay State</h1>

  <div class="form-check form-switch">
    <input
      class="form-check-input"
      type="checkbox"
      name="fanSwitch"
      id="fanSwitch"
      (change)="fanSwitchChanged($event)"
      ngDefaultControl
    />

    <label class="form-check-label" for="flexSwitchCheckDefault">fanSwitch</label>
  </div>

  <div class="form-check form-switch">
    <input
      class="form-check-input"
      type="checkbox"
      name="ledSwitch"
      id="ledSwitch"
      (change)="ledSwitchChanged($event)"
      ngDefaultControl
    />

    <label class="form-check-label" for="flexSwitchCheckDefault">ledSwitch</label>
  </div>
</div>
