<button (click)="logout()">logout</button>


<div class="row">
    <div>
        <h2>Humidity: {{ humidityValue }}</h2>
        <h2>Temperature: {{ temperatureValue }}</h2>
        <h2>pH Value: {{ pHValue }}</h2>
        <h2>Fertilizers State: {{ fertilizersState ? 'On' : 'Off' }}</h2>
        <h2>Water State: {{ waterState ? 'On' : 'Off' }}</h2>
      </div>
</div>

<!-- <p>Fan: {{ fan ? 'On' : 'Off' }}</p>
<p>LED: {{ led ? 'On' : 'Off' }}</p>
<p>Pump pH Down: {{ pump_ph_down ? 'On' : 'Off' }}</p>
<p>Pump pH Up: {{ pump_ph_up ? 'On' : 'Off' }}</p>
<p>Pump Water Up: {{ pump_water_up ? 'On' : 'Off' }}</p>
<p>Sprinkler Fertilizers: {{ sprinklerfertilizers ? 'On' : 'Off' }}</p>
<p>Sprinkler Water: {{ sprinklerwater ? 'On' : 'Off' }}</p> -->

<!-- <div class="row">

    <h1>Relay States</h1>
    <div>
        <label for="fanSwitch">Fan:</label>
        <input type="checkbox" id="fanSwitch">
    </div>
    <div>
        <label for="ledSwitch">LED:</label>
        <input type="checkbox" id="ledSwitch">
    </div>
    <div>
        <label for="pumpphDownSwitch">Pump pH Down:</label>
        <input type="checkbox" id="pumpphDownSwitch">
    </div>
    <div>
        <label for="pumpphUPSwitch">Pump pH UP:</label>
        <input type="checkbox" id="pumpphUPSwitch">
    </div>
    <div>
        <label for="pumpwaterSwitch">Pump Water:</label>
        <input type="checkbox" id="pumpwaterSwitch">
    </div>
    <div>
        <label for="sprinklerfertilizersSwitch">Sprinkler Fertilizers:</label>
        <input type="checkbox" id="sprinklerfertilizersSwitch">
    </div>
    <div>
        <label for="sprinklerwaterSwitch">Sprinkler Water:</label>
        <input type="checkbox" id="sprinklerwaterSwitch">
    </div>
    <div>
        <label for="valveSwitch">Valve:</label>
        <input type="checkbox" id="valveSwitch">
    </div>
</div> -->